<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles/timeline.css">
</head>
<body>
    <div class="timeline" data-length="300" data-numgraduation="50" data-startoffset="100" data-segmentclass="segment" data-minscale=".4" data-maxscale="1.2">
        <div class="screen" data-timepose="5">
            <!-- ton code -->
        </div>
        <div class="screen" data-timepose="12"></div>
        <div class="screen" data-timepose="40"></div>
    </div>
    <div class="timeline" data-length="230" data-numgraduation="10" data-segmentclass="segment" data-minscale=".4" data-maxscale="1.2">
        <div class="screen" data-timepose="3">
            <!-- ton code -->
        </div>
        <div class="screen" data-timepose="6"></div>
        <div class="screen" data-timepose="8"></div>
    </div>
    <script src="/templates/libs/jquery.min.js"></script>
    <script src="/templates/libs/jquery.event.move.js"></script>
    <script src="/templates/libs/swipe.js"></script>
    <script src="/templates/scripts/timeline.js"></script>
</body>
</html>