*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo {
    height: 80px;
    margin-left: 45px;
}
.navbar-nav {
margin: 0 auto;
}
.navbar-nav a {
margin: 0px 35px;
<<<<<<< Updated upstream
=======
color: #009AA3 !important;
>>>>>>> Stashed changes
}

body {
    margin: 0;
}
.navbar {
    color: transparent;
}
.fullImg {
    overflow: hidden;
    width: 100%;
    height: 100vh;
<<<<<<< Updated upstream
    background-image: url(/static/img/Fond-Mobile.jpg);
=======
    background-image: url(../img/bg.png);
>>>>>>> Stashed changes
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
<<<<<<< Updated upstream
=======
footer {
    background: #004f73;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}
.imgf {
    height: 100px;
}
.mentions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.mentions li {
    padding: 20px;
    text-decoration: underline;
}
.reseaux {
    width: 25px;
}
.navbar-nav a:hover {
text-decoration: underline;
}
>>>>>>> Stashed changes

/* For Desktop */
@media only screen and (min-width: 980) {
    .container {
    }
}
@media only screen and (min-width: 768px) {
    .fullImg {
<<<<<<< Updated upstream
        background-image: url(/static/img/Fond-Desktop.jpg);
=======
        background-image: url(../img/bg.png);
>>>>>>> Stashed changes
    }
}