*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.logo {
    height: 80px;
    margin-left: 45px;
}
.navbar-nav {
    margin: 0 auto;
}
.navbar-nav a {
    margin: 0px 35px;
    color: #009AA3 !important;
}
.btn{
    background: black;
    border-radius: 30px;
    color: white;
    padding: 7px;
    margin-left: 250px;

}
.navbar-nav a:hover {
text-decoration: underline;
}

body {
    margin: 0;
}
.navbar {
    color: transparent;
}
.fullImg {
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
footer {
    background: #004f73;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 350px;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 0.8rem;
}
.imgf {
    height: 100px;
}
.txtindex {
    margin-top: 10%;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.5rem;
}
.mentions {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.mentions li {
    padding: 20px;
    text-decoration: underline;
}
.reseaux {
    width: 25px;
}

/* For Desktop */
@media only screen and (min-width: 768px) {
    .fullImg {
        background-image: url(../img/bg.png);
    }
}